*
!/**/
!*.*

# latex
docs/**/*.log
docs/**/*.bbl
docs/**/*.aux
docs/**/*.blg
docs/**/*.run*
docs/**/*.bcf
docs/**/*.toc
docs/**/*.pdf

# go
*.exe
*.exe~
*.dll
*.so
*.dylib
*.test
*.out
go.work
main
.env
vendor/

# python
venv/
