<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>YouTube Transcription App</title>
    <link rel="stylesheet" href="style.css">
</head>

<body>
    <img src="https://http.cat/200.jpg" id="status-image" alt="picture of cat depicting status of request" />
    <header>
        <h1>YouTube Transcription Service</h1>
        <!-- Navigation Links (Register, Login, etc.) -->
        <nav>
            <a href="register.html">Home</a> |
            <a href="login.html">Register</a> |
            <a href="login.html">Login</a>
        </nav>
    </header>
    <main>
        <!-- Possibly som welcome text or instructions could go here -->
        <section>
            <p>Welcome to the Youtube Transcription Service.
                Here you can...</p>
        </section>
    </main>
    <footer>
        <!-- Footer Content -->
        <!-- Consider including copyright information, contact details, or links to privacy policy. -->
        <p>&copy; 2024 Youtube Transcription App.
            All rights reserved.</p>
        <p>For support, email us at:
            <a href="mailto:support@example.com">support@example.com</a>
        </p>
        <nav>
            <a href="/privacy-policy.html">Privacy Policy</a> |
            <a href="/terms-of-service.html">Terms of Service</a>
        </nav>
    </footer>
    <script src="script.js"></script>
</body>

</html>