<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login - YouTube Transcription App</title>
    <link rel="stylesheet" href="style.css">
</head>

<body>
    <img src="https://http.cat/200.jpg" id="status-image" alt="picture of cat depicting status of request" />
    <header>
        <h1>Login to YouTube Transcription Service</h1>
    </header>
    <main>
        <!-- Login Form -->
        <form id="login-form" class="auth-form">
            <label for="login-username">Username or Email:</label>
            <input type="text" id="login-username" name="username" placeholder="Username or Email" required>
            <label for="login-password">Password:</label>
            <input type="password" id="login-password" name="password" placeholder="Password" required>
            <button type="submit">Login</button>
        </form>
    </main>
    <footer>
        <!-- Footer Content -->
        <!-- Consider including copyright information, contact details, or links to privacy policy. -->
        <p>&copy; 2024 Youtube Transcription App. All rights reserved.</p>
        <a href="mailto:support@example.com">support@example.com</a>
    </footer>
</body>

</html>