<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <!-- Ensures the website scales correctly on all devices -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>YouTube Transcription App</title>
    <!-- Link to the stylesheet for styling the webpage -->
    <link rel="stylesheet" href="style.css">
</head>

<body>
    <div class="container"> <!-- Center everything within this container -->
        <img src="https://http.cat/200.jpg" id="status-image" alt="picture of cat depicting status of request" />
        <header>
            <!-- Main heading for the application -->
            <h1>YouTube Transcription Service</h1>
            <!-- Navigation menu for the website -->
            <nav>
                <a href="index.html">Home</a> |
                <a href="login.html">Login</a> |
                <a href="register.html">Register</a>
            </nav>
        </header>
        <main>
            <!-- Main content area where additional content can be added -->
            <section>
                <p>Welcome to the Youtube Transcription Service.
                    Here you can...</p>
            </section>
        </main>
        <footer>
            <!-- Footer content providing copyright and contact information -->
            <p>&copy; 2024 Youtube Transcription App. All rights reserved.</p>
            <!-- Consider including copyright information, contact details, or links to privacy policy. -->
            <p>For support, email us at:
                <a href="mailto:support@example.com">support@example.com</a>
            </p>
            <!-- Additional navigation links for legal and privacy information -->
            <nav>
                <a href="/privacy-policy.html">Privacy Policy</a> |
                <a href="/terms-of-service.html">Terms of Service</a>
            </nav>
        </footer>
        <!-- Link to the Javascript file for interactivity -->
        <script src="script.js"></script>
    </div>
</body>

</html>