{{template "header.tmpl"}}
<form id="registration-form" class="auth-form">
    <label for="name">Name</label>
    <input type="name" id="name" name="name" placeholder="Jane Doe" required>
    <label for="email">Email</label>
    <input type="email" id="email" name="email" placeholder="Email" required>
    <label for="password">Password</label>
    <input type="password" id="password" name="password" placeholder="Password" required minlength="8">
    <button type="submit">Register</button>
</form>
{{template "footer.tmpl"}}
